###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/
../obj/*
**/.vs/*
/obj/*
!obj
**/bin/Debug/*
**/bin/Release/*
**/obj/Debug/*
**/obj/Release/*
**/obj/Debug/netcoreapp3.1
